
<div style="background-color: rgb(244, 250, 253);">

    <div class="set-img">

        <img id="set-img"  src="../../assets/images/bgset.jpeg" alt="">
        </div>

        <div  class=" prf-dtls">
            <div data-aos="flip-right" class="container col-lg-12 d-flex cnt-dtls">
               <div class="col-lg-3 prf-dtl   ">
                  <img class="img-alg " src="../../assets/images/female.png" height="60%" width="50%" alt="">
                   
               </div>

               <div  class="col-lg-5 prf-dtll">
<h5 id="txt-algn">
    Hi..Iam Aiswarya, I have completed my Post Graduate Degree in Computer Science
     from the University of Kerala</h5>
     <br>
     <button style="margin-left: 40%;" class="btn  btn-secondary btn-md">Hire Me</button>
            </div>
            </div>
        </div>
        <h3 style="margin-left: 4%;">SERVICE</h3>

        <div  class="row row-cols-1 crd-alg row-cols-md-2 g-4">

            <div data-aos="flip-left"class="col">
              <div class="card">
                <img  src="../../assets/images/frnd.jpg" width="100px" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Frontend developement</h5>
                  <p class="card-text">Frontend developers work on the visual elements of a website. They work on the aspects that users interact with. So, they work on the client-side.</p>
                </div>
              </div>
            </div>
            <div data-aos="flip-left" class="col">
                <div class="card">
                  <img  src="../../assets/images/sw1.jpg" width="350px" height="200px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Backend developement</h5>
                    <p class="card-text">Backend developers work on developing the aspects that users can’t see. They work at the server-side.

                    </p>
                  </div>
                </div>
              </div>
              <div data-aos="flip-right" class="col">

                <div class="card">
                  <img  src="../../assets/images/Software.jpg" width="350px" height="200px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Frontend developement</h5>
                    <p class="card-text">Frontend developers work on the visual elements of a website. They work on the aspects that users interact with. So, they work on the client-side.</p>
                  </div>
                </div>
              </div>
              <div data-aos="flip-left" class="col">
                <div class="card">
                  <img  src="../../assets/images/images.jpg" width="350px" height="200px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Backend developement</h5>
                    <p class="card-text">Backend developers work on developing the aspects that users can’t see. They work at the server-side.

                    </p>
                  </div>
                </div>
              </div>
              </div>
            
              
            
           
        <div class="container d-flex"  >
<div data-aos="zoom-in-up"  class="tst-div" >           
                <owl-carousel-o   [options]="customOptions">
                    <ng-template  carouselSlide>
                        <div class="d-flex"style="margin-top:7%;">
                            <div class="col">
                                <img style="float: left; border-radius: 50%; height: 200px;width: 200px;" src="../../assets/images/female.png" alt="">
                            <span class="text-center">
                                <h3 style="color: white;">Stan Wilkes</h3>
                                <h4 style="color: white;">Executive Director</h4>
                            </span>
                           </div>
                        
                        <div class="" >
                           
                            <p style="color: white; padding-top: 10%;" >I would highly recommend Thrive Internet Marketing. They are great to work with. The traffic to our website has increased thanks to their SEO program.</p>
        
                        </div></div>
                    </ng-template>  
                    <ng-template  carouselSlide>
                        <div  class="d-flex"style="margin-top:7%;">
                            <div class="col">
                                <img style="float: left; border-radius: 50%; height: 200px;width: 200px;" src="../../assets/images/female.png" alt="">
                            <span class="text-center">
                                <h3 style="color: white;">B. J. Sims</h3>
                                <h4 style="color: white;">Texas Educational Services, Inc.</h4>
                            </span>
                           </div>
                        
                        <div class="" >
                           
                            <p style="color: white; padding-top: 10%;" >With Thrive’s help, we were able to increase the functionality of our website dramatically while cutting our costs. Our website is much more easy to use, has tons of more features than before and is incredibly easy to maintain. We could not be more happy with our new website! Thanks Thrive!</p>
        
                        </div></div>
                    </ng-template>  
                </owl-carousel-o>
               
            </div>  
         </div>     
</div>